# Ignore Mendix .mpr files (project model)
*.mpr

# Ignore Eclipse/Java-related files
.classpath
.project

# Deployment-related files
/deployment/

# Source code directories
/javascriptsource/
/javasource/
/mlsource/

# Modules
/modules/

# Resources and Libraries
/resources/
/userlib/

# Theme and Cache
/theme/
/theme-cache/
/themesource/

# Widgets
/widgets/

# User-specific settings
*.user.json

# IDE-specific files
*.launch

# Logs
*.log

# Miscellaneous
*.DS_Store
Thumbs.db
